<div>
    <app-headerpartial></app-headerpartial>
    <app-dashboardpartial></app-dashboardpartial>
    <app-event-partial></app-event-partial>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
        <div class="card w-100">
            <div class="container space">
                <div class="row">
                    <div class="col-4 col-md-4 col-lg-2 float-left">
                 <img class="image-logo " src="http://www.gannett-cdn.com/experiments/usatoday/responsive/2017/06/faces-of-pride/assets/img/portraits/14_illinois.jpg"/>


                    </div>
                    <div class="col-5 col-md-5 col-lg-5 float-left">
                        <span><b>Lajari Dalvi</b></span>
                        <p>developer @ binary </p>

                    </div>
                    <div class="col-3 col-md-3 col-lg-5 float-left">
                        <button type="button" class="btn btn-outline-success float-right">Edit Profile</button>
                    </div>
                </div>
                <hr>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-4 col-md-4">
                         <ul class="titles">    
                             <li class="seeking-title"> 
                                 <b class="bigtext"> You are seeking</b>
                             <ul class="seekings">
                              <!-- <li or="s in Uprofile.profile.seekings" :key="s">{{ s }}</li> -->
                             <li>India</li>
                          </ul>
                         </li>         
                     </ul>
            <div class="space1">
              <button type="button" class="btn btn-outline-success">Edit your seeking</button>
            </div>
                </div>
                <div class="col-lg-4 col-4 col-md-4 text-left">
                    <ul class="titles">    
                     <li class="seeking-title"> 
                         <b class="bigtext"> You are offering</b>
                     <ul class="seekings">
                            <!-- <li></li> -->
                            <li>BigData</li> 
                            <li>India</li>
                     </ul>                       
                     </li>           
                     </ul>
                     <div class="space1">
                        <button type="button" class=" btn btn-outline-success">Edit your offering</button>
                     </div>

                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-4 col-4 col-md-4 space">
                <p><b>Contact Information:</b></p>
                <span ><b>Skype:</b></span>
                <p > </p>
                </div>
                <div class="col-lg-4 col-4 col-md-4 space">
                     <p><b>Social Media:</b></p>
                <span><b>Linkedin:</b></span>
                <p><a href="http://www.linkedin.com/${Uprofile.user.linkedInUrl}" target="_blank"> View Profile </a></p>

                <span><b>Twitter:</b></span>
                <p><a href="http://www.twitter.com/${Uprofile.user.twitter}"> View Profile </a></p>

                </div>
                <div class="col-lg-4 col-4 col-md-4 space">
                     <p><b>Company info:</b></p>
                        <span><p><b>Company Size: </b></p></span>
                                     <span><p><b>Company Revenue:</b></p></span>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
    <app-footerpartial></app-footerpartial>
</div>
