.space{
    padding:2% 5% ;
}
.space1{
    padding:2% 12% ;

}
.margin {
    margin-top: 10px;
}
.image-logo{
    width: 150px;
    height: 150px;
    padding: 2%;
    border-radius: 15px;  
}
.btn{
border-radius: 5px;
}
.titles {
    list-style-type: none;
    white-space: nowrap;
}
.seeking-title::before {
    content: "•";
    color: purple;
    font-size : 20px;
}
.seekings {
    list-style-type: disc;
}
.bigtext
{
    font-size: 20px;
}