<div class="container-fluid">
  <div class="row">
  <div class="card col-lg-10 col-12 col-md-12 offset-lg-1 px-0">
      
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12 px-0">
      <div class="card-title">
          <img style="width:100%" class="img-fluid" src="https://brella-assets.brella.io/uploads/event/cover_photo/1424/mini_magick20180625-17678-1jtn9rh.jpg" alt="" srcset="">
      </div>
  </div>
  </div>
  <div class="row">
      <div class="card-content">
          <div class="col-3">
              <span class="setting"><b>{{eventTitle}}</b></span>
          </div>
  
          <div class="col-9">
          <div class="nav margin b-margin scroll">
          <div class="ml-auto ul">
              <a id="people" routerLink="/web/thisEvent" routerLinkActive="active" class="nav-link active">People</a>
              <a id="Schedule" routerLink="/myschedule" routerLinkActive="active" class="nav-link"  >My Schedule</a>
              <a id="Partners" routerLink="/web/partners" class="nav-link">Partners</a>
              <!-- <a routerLink="/eventinfo" class="nav-link">Event Info</a> -->
              <a id="Profile" routerLink="/web/editprofile" class="nav-link">Edit Profile</a>
         </div>
          </div>
          </div>
      </div>
      </div>
  </div>
  </div>    
  </div>
  </div>
      
  
