<div class="container-fluid footer mt-5">
    <div class="row">

        <div class="col-6 text-right">
            <div class="ios d-inline">
                <img class="img-fluid" src="../../assets/images/google-play-badge.png" alt="">
            </div>
        </div>

        <div class="col-6 text-left">
            <div class="play-store d-inline">
                <img class="img-fluid" src="../../assets/images/app-store-badge.png" alt="">
            </div>
        </div>

    </div>

    <div class=" row ">
        <div class="mx-auto d-block myfooter mb-5">
             <a href="#"  class="text-dark mx-2"> © 2018 Muster</a>
          <a href="#"  class="text-dark  mx-2"> Privacy & Terms</a>
           <a href="#" class="text-dark mx-2"> Contact & Sales</a>
        </div>
         



     </div>


</div> 